@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --primary-color: #d4b816;
    --secondary-color: #1b1b1b;
    --text-primary: #060606;
}
html{
    overflow-x: hidden;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    color: var(--text-primary);
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;

}
article{
    position: relative;
    top: 0px;
    bottom: 0px;
    min-height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
article h1{
    font-size:6rem;
    color: #fff;
    text-shadow: 0px 0px 5px #c3c3c3;
}
article h4{
    font-size:3rem;
    color: #262626;
    text-shadow: 0px 0px 5px #b8b8b8;
    font-weight: bold;
}
article p{
    font-size:1rem;
    color: rgb(255, 255, 255);
    margin: 1rem 0rem 2rem 0rem;
    padding:1rem;
    border-radius: 5px;
    background-color: #262626;
}
article .keyword-container{
    display: flex;
    flex-wrap: wrap;

}
article .keyword-container .keyword{
    font-size:0.8rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    margin: 5px;
    background-color: #fff;
    border-radius: 50px;
    text-transform: uppercase;

}
article .call-to-action{ 
    padding: 1.5rem 0rem;

}
article .call-to-action a{
    font-size:1rem;
    color: rgb(0, 0, 0);
    padding: 1rem;
    margin: 2rem 0rem;
    background-color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;

}
article .call-to-action a:hover{
    color: rgb(0, 0, 0);
    padding: 1rem;
    background-color: var(--primary-color);
    border: 1px solid var(--text-primary);
    box-shadow: 0px 5px 5px #262626;
    border-radius: 10px;
    transition: all 0.2s ease;
}


/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    article{
        position: relative;
        top: 0px;
        bottom: 0px;
        min-height: 100vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    article h1{
        font-size:3rem;
        color: #fff;
        text-shadow: 0px 0px 5px #c3c3c3;
    }
    article h4{
        font-size:1rem;
        color: #262626;
        text-shadow: 0px 0px 5px #b8b8b8;
        font-weight: bold;
    }
    article p{
        font-size:0.8rem;
        color: rgb(255, 255, 255);
        margin: 0.5rem 0rem 1rem 0rem;
        padding:1rem;
        border-radius: 5px;
        background-color: #262626;
    }
    article .keyword-container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    
    }
    article .keyword-container .keyword{
        font-size:0.5rem;
        color: rgb(0, 0, 0);
        padding: 0.5rem 1rem;
        margin: 5px;
        background-color: #fff;
        border-radius: 50px;
        text-transform: uppercase;
    
    }
    article .call-to-action{ 
        padding: 1rem 0rem;
    
    }
    article .call-to-action a{
        font-size:1rem;
        color: rgb(0, 0, 0);
        padding: 0.5rem 1rem;
        margin: 2rem 0rem;
        background-color: #fff;
        border-radius: 50px;
        text-transform: uppercase;
        text-decoration: none;
    
    }
    article .call-to-action a:hover{
        color: rgb(0, 0, 0);
        padding: 1rem;
        background-color: var(--primary-color);
        border: 1px solid var(--text-primary);
        box-shadow: 0px 5px 5px #262626;
        border-radius: 10px;
        transition: all 0.2s ease;
    }
 }


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    article{
        position: relative;
        top: 0px;
        bottom: 0px;
        min-height: 100vh;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    article h1{
        font-size:1.5rem;
        color: #fff;
        text-shadow: 0px 0px 5px #c3c3c3;
    }
    article h4{
        font-size:1rem;
        color: #262626;
        text-shadow: 0px 0px 5px #b8b8b8;
        font-weight: bold;
    }
    article p{
        font-size:0.8rem;
        color: rgb(255, 255, 255);
        margin: 0.5rem 0rem 1rem 0rem;
        padding:1rem;
        border-radius: 5px;
        background-color: #262626;
    }
    article .keyword-container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    
    }
    article .keyword-container .keyword{
        font-size:0.5rem;
        color: rgb(0, 0, 0);
        padding: 0.5rem 1rem;
        margin: 5px;
        background-color: #fff;
        border-radius: 50px;
        text-transform: uppercase;
    
    }
    article .call-to-action{ 
        padding: 1rem 0rem;
    
    }
    article .call-to-action a{
        font-size:1rem;
        color: rgb(0, 0, 0);
        padding: 0.5rem 1rem;
        margin: 2rem 0rem;
        background-color: #fff;
        border-radius: 50px;
        text-transform: uppercase;
        text-decoration: none;
    
    }
    article .call-to-action a:hover{
        color: rgb(0, 0, 0);
        padding: 1rem;
        background-color: var(--primary-color);
        border: 1px solid var(--text-primary);
        box-shadow: 0px 5px 5px #262626;
        border-radius: 10px;
        transition: all 0.2s ease;
    }
 }